{% extends 'base.html.twig' %}

{% block title %}
	{{article.nom}}
{% endblock %}
{% block body %}
	<h1>{{article.nom}} </h1>
	<p>{{article.prix}} </p>
	<p>
		<hr>
		<a href="/" class="btn btn-success">
			Retour
		</a>
        </hr>
    </p>
	{% endblock %}
